{% extends 'admin.html.twig' %}

{% block title %}Pizzas{% endblock %}

{% block body %}
    <h1>Orders</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.firstname }} {{ customer.lastname }}</td>
                <td><a href="/admin/orders/{{ customer.id }}/view/">VIEW ORDER</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a href="/admin/logout">Logout</a></p>

{% endblock %}
