{% extends 'admin.html.twig' %}

{% block title %}Pizzas{% endblock %}

{% block body %}
    <h1>Order View</h1>

    <table class="table">
        <thead>
            <table class="table" >
                <tr>
                    <td><strong>Order ID:</strong></td>
                    <td>
                        {{ order.id }} 
                    </td>
                </tr>
                <tr>
                    <td><strong>Date:</strong></td>
                    <td>
                        {{ order.timestamp|date("m/d/Y") }} 
                    </td>
                </tr>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{ order.customer.firstname }} {{ order.customer.lastname }}</td>
                </tr>
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>
                        {{ order.customer.streetnumber }} 
                        {{ order.customer.street }}
                        {{ order.customer.zip }}
                        {{ order.customer.city }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Phone:</strong></td>
                    <td>
                        {{ order.customer.phone }} 
                    </td>
                </tr>
            </table>
        </thead>
        <tbody>
            <tr>
            <td>&nbsp;<td>
            </tr>
           <tr>
            <td>
                <table class="table">
                    <tr>
                        <th>Pizza Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    {% set grandTotal = 0 %}

                    {% for OrderItem in order.OrderItems %}
                        {% set total = 0 %}

                        {% set total = OrderItem.quantity * OrderItem.price %}
                        <tr>
                            <td>{{ OrderItem.pizza.name }}</td>
                            <td>{{ OrderItem.pizza.description }}</td>
                            <td>{{ OrderItem.quantity }}</td>
                            <td>{{ OrderItem.price|number_format(2, '.', ',' ) }}</td>
                            <td>{{ total|number_format(2, '.', ',' ) }}</td>
                        </tr>
                        {% set grandTotal = grandTotal + total %}   
                    {% endfor %}
                    
                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Grand Total</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{ grandTotal|number_format(2, '.', ',' ) }}</td>
                    </tr>
                </table>
            </td>
           </tr>
        </tbody>
    </table>

    <p><a href="/admin/orders/{{ app.request.get('id') }}/delete">Delete this Order</a></p>

    <p><a href="/admin/logout">Logout</a></p>

{% endblock %}