{% extends 'base.html.twig' %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <h1>Pizza</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pizza.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pizza.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ pizza.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pizza.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pizza_index') }}">back to list</a>

    <a href="{{ path('pizza_edit', {'id': pizza.id}) }}">edit</a>

    {{ include('pizza/_delete_form.html.twig') }}
{% endblock %}
