{% extends 'base.html.twig' %}

{% block title %}Customer Info{% endblock %}

{% block body %}
    <h1>Customer Info</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('order_index') }}">Go Back</a>
{% endblock %}
