{% extends 'base.html.twig' %}

{% block title %}Pizza Plaza{% endblock %}

{% block body %}
    <h1>Order Successful...</h1>

    <a href="{{ path('home_index') }}">Go back to Hompage</a>
{% endblock %}