{% extends 'base.html.twig' %}

{% block title %}Pizzas{% endblock %}

{% block body %}
    <h1>Online ordering</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
            <form method="post" action="{{ path('order_add') }}">
                <tr>
                    <td>{{ pizza.name }}</td>
                    <td>{{ sale_pizza_id == pizza.id ? sale_pizza_price : pizza.price }}</td>
                    <td>{{ pizza.description }}</td>
                    <td><input type="text" name="quantity" value="1" size="2"></td>
                    <td>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pizza.id) }}">
                        <input type="hidden" name="pizza_id" value={{ pizza.id }}>
                        <button class="btn">ADD</button>
                    </td>
                </tr>
            </form>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
