{% extends 'base.html.twig' %}

{% block title %}Pizzas{% endblock %}

{% block body %}
    <h1>Your Order</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% set grandTotal = 0 %}
    
        {% for order in orders %}
        {% set total = 0 %}
            <tr>
                {% for pizza in pizzas %}
                    {% if order.getPizzaId == pizza.id %}
                        {% set total = order.quantity * order.price %}
                        <td>{{ pizza.name }}</td>
                        <td>{{ pizza.description }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.price|number_format(2, '.', ',' ) }}</td>
                        <td>{{ total|number_format(2, '.', ',' ) }}</td>

                        {% set grandTotal = grandTotal + total %}   
                    {% endif %}
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
            <tr>
                <td><strong>Grand Total</strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong>{{ grandTotal|number_format(2, '.', ',' ) }}</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><button class="btn"><a href="/order">GO BACK</a></button></td>
                <td><strong><button class="btn"><a href="/order/checkout">CHECKOUT</a></button></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
