{% extends 'admin.html.twig' %}

{% block title %}Pizza Plaza{% endblock %}

{% block body %}
    <h1>Admin Login</h1>
    <form method="post" action="{{ path('admin_login') }}">
    <p>Password: <input type="password" name="password"></p>
    <button type="submit">Login</button>
    </form>

{% endblock %}