{% extends 'base.html.twig' %}

{% block title %}Pizza Plaza{% endblock %}

{% block body %}
    <h1>Welcome to Pizza Plaza</h1>

    <p>Pizza of the Day</p>

    <p>{{ pizza_sale.name }}</p>
    <p>{{ pizza_sale.description }}</p>
    <p>Original Price: {{ pizza_sale.price|number_format(2, '.', ',' ) }}</p>
    <p>Sale Price: {{ sale_price|number_format(2, '.', ',' ) }} (33% Off)</p>


    <a href="{{ path('order_sale') }}">Buy Now</a> OR <a href="{{ path('order_index') }}">Check All Availble Pizza</a>
{% endblock %}
